# Tandoor app secrets (SOPS).
#
#   cd apps/base/tandoor
#   just sops-create tandoor-app tandoor \
#     SECRET_KEY="$(openssl rand -hex 32)" \
#     AUTHENTIK_CLIENT_ID="..." \
#     AUTHENTIK_CLIENT_SECRET="..."
