# UniFi + MongoDB credentials (SOPS).
#
#   cd apps/base/unifi-controller
#   just sops-create unifi-app unifi-controller \
#     MONGO_INITDB_ROOT_PASSWORD="$(openssl rand -base64 24)" \
#     MONGO_USER=unifi \
#     MONGO_PASS="$(openssl rand -base64 24)"
