# Renovate credentials for the standalone deployment.
# cp renovate-credentials.secret.yaml.template renovate-credentials.secret.yaml
# fill values, then: sops -e -i renovate-credentials.secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: renovate-credentials
  namespace: renovate
type: Opaque
stringData:
  RENOVATE_TOKEN: REPLACE_WITH_FORGEJO_PAT
  RENOVATE_GITHUB_COM_TOKEN: REPLACE_WITH_GITHUB_PAT
