# Recreate (from gitops-homelab root, SOPS_AGE_KEY_FILE set):
#   cd apps/overlays/main
#   just sops-create paperless-ngx paperless-ngx \
#     "PAPERLESS_SECRET_KEY=$(openssl rand -hex 32)" \
#     "PAPERLESS_URL=https://paperless.f4mily.net"
