# TEMPLATE - Encrypt with SOPS before committing!
# sops -e -i hetzner-external-dns.secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: hetzner-api-token
  namespace: external-dns
stringData:
  api-token: YOUR_HETZNER_API_TOKEN
